<div class="containerContent">
    <article>
        <h2>About me</h2><br>
        <p>
            Electronic Technologist with knowledge of design, development on Java, JavaScript, HTML, CSS, and Database Github. Deploying software containing logical and mathematical solutions to technological problems, web applications, testing, documentation and regular upgrades to ensure web security and system usability. planning and implementing all Maintenance, Repairs, installs and configure printers on network. Writing browser compliant Javascript , Establishing the core purpose of the website. <br><br>
            Excellent service customer experience with several years, the capability to communicate, teamwork, work under pressure and practical work behavior.
        </p>
    </article>

<!-- Education -->
    <article>
        <h2>Education</h2><br>
            <h3>Microsoft Feb 2021</h3>
            <p>Software Development Fundamentals </p><br>
            
            <h3>Aula Matriz Feb 2021</h3>
            <p>Lógica y Programación Php-Mysql–  Java SE 11 <br>
                Developing Applications for the Java EE 7</p><br>
        
            <h3>University Central Dec 2017 postpone</h3>
            <p>Electronic Engineer</p><br>
        
            <h3>InterAmericans Languages Real Word Jun 2013</h3>
            <p>English B2</p><br>
        
            <h3>Corporation University Minuto de Dios Jan 2014 </h3>
            <p>Electronic technologist</p><br>
        
            <h3>JUAN BOSCO OBRERO 2009</h3>
            <p>Technician maintenance hardware and software.</p><br>

            <h3>JUAN BOSCO OBRERO 2009</h3>
            <p>Technician fundamental electronic. </p><br>

            <h3>JUAN BOSCO OBRERO 2010</h3>
            <p>Technician system and computer maintenance. </p><br>

            <h3>JUAN BOSCO OBRERO 2010</h3>
            <p>Technician system administration wireless. </p><br>

            <h3>JUAN BOSCO OBRERO 2010</h3>
            <p>Technician industrial maintenance electronic.</p><br>
    </article>

<!-- Work Experience -->
    <article>
        <h2>Work Experience</h2><br>

            <h3>Impuls@ LTDA (May 2020 - Apr 2021) 
            <br>Web Development<br></h3>
            <p>
                FrontEnd and BackEnd development of web content in HTML, CSS and JavaScript using Angular, development of the DataBase in MySql and PostgreSQL of products and services of the client and registered users, development of the API deployed in JAVA, content update
                </p><br>

            <h3>Papeles Nacionales (Sep 2020 - Dec 2020) </h3>
            <p>Installation of Supplies </p><br>
            
            <h3>Organizaciones de Eventos Musicales (feb 2020 - Mar 2020) <br>Sopport Java applications 	</h3>
            <p>Maintain platform Java internal work with system administrator to implement Query, DB Sql Server </p><br>
        
            <h3>Scala Ascensores (Sep 2018- Oct 2019) <br>Preventive and corrective technician</h3>
            <p>Equipment maintenance; preventive and corrective to hydraulic and traction elevator, dumbwaiters, wheelchair lifts, platforms, repair, troubleshooting, reading of plans electronic, control panel, must be able to work safely at height, adjustment mechanism and setting of parameters wiring and connections.</p><br>
        
            <h3>Thomas Greg & Sons (Apr 2018– Jul 2018) <br>Help Desk</h3>
            <p>Support technical in the process presidential election 2018 to nation wide adjustment device hardware and software ensure technical issues are resolved, experience using help desk software and remote support tools work under pressure. <br>Responsible for effectively planning and implementing all Maintenance	, Repairs, installs and configure printers on network and upkeep activities for the entire Printing Press department equipment.

            </p><br>
        
            <h3>Quimitronica LTDA(Apr 2014 –Jun 2017) <br>Service Engineer II</h3>
            <p>Maintenance preventive and corrective laboratory equipment metrological assurance, operational qualifications on temperature, pressure, color, spectrometric    </p><br>
        
            <h3>Schindler Andino (Aug 2010 – Janu 2014) <br>preventive and corrective technician</h3>
            <p>Equipment maintenance; preventive and corrective for hydraulic and traction elevator, dumbwaiters, wheelchair lifts Electronic elevators,  platforms, repair, troubleshooting, lecture of plans electronic, control panel, must be able to work safely at height, adjustment mechanism and setting of parameters wiring and connections. </p><br>
    </article>
</div>